body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Style for the body . also shows font family */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
  }

  h1 {
    margin: 20px 0;
  }

  button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  #quizContainer {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #endScreen {
    display: none;
  }
  
  #endScreen input[type="text"] {
    width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  